In [7]:
import pandas as pd

In [8]:
def read():
    df = pd.read_excel("../../../data/MS/2023-4-13/ms_response_copyofpostrosterfile-20231220144255.xlsx")
    return df

In [9]:
df = read()

In [12]:
df

,FIRST,LAST,Agency,TYPE,STATUS,DOH,DOT,CERT #
0,NONE,NONE,Abbeville,PD,Full-Time,NaN,NaN,NaN
1,Timothy,Pruitt,Abbeville,Chief,Part-Time,2010-04-01 00:00:00,NaN,13792
2,Jimmy,Easley,Abbeville,Chief,Part-Time,1995-05-15 00:00:00,2009-11-30 00:00:00,14876
3,Jacob,Abel,ABC,State,Full-Time,2022-05-02 00:00:00,NaN,19785
4,Kurt,Alexander,ABC,State,Full-Time,2010-09-13 00:00:00,NaN,21028
...,...,...,...,...,...,...,...,...
45234,Charles,Liddell,Yazoo Levee Board,Lev Brd,Full-Time,No App,NaN,18343
45235,Bobby,Reed,Yazoo Levee Board,Lev Brd,Full-Time,2006-06-16 00:00:00,2014-09-30 00:00:00,3449
45236,LaShun,Sims,Yazoo Levee Board,Lev Brd,Full-Time,2017-10-01 00:00:00,NaN,26083
45237,Reginald,Sims,Yazoo Levee Board,Lev Brd,Full-Time,2005-11-01 00:00:00,2021-06-10 00:00:00,18592
45238,Timothy,Wilkins,Yazoo Levee Board,Lev Brd,Full-Time,2007-10-01 00:00:00,2014-09-30 00:00:00,20981

In [10]:
# df = df.rename(columns={"Branch/State": "location"})

# df.loc[:, "location"] = df.location.str.lower()

# df = df[df.location.isin(["louisiana"])]

# df = df.rename(columns={"First Name": "first_name", "Last Name": "last_name"})

In [11]:
# def clean_names(df):
#     df.loc[:, "first_name"] = df.first_name.str.lower().str.strip()
#     df.loc[:, "last_name"] = df.last_name.str.lower().str.strip()
#     return df 

# df = df.pipe(clean_names)