In [69]:
import pandas as pd

In [70]:
def read():
    df = pd.read_excel("../../../data/MS/2023-4-13/23-5-17 Reciprocal/ms_list_of_test_applicants-20231220144255.xlsx")
    return df

In [71]:
df = read()
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Last,First,Date Certified,State POST / Reciprocity
1,NaN,NaN,NaN,NaN,NaN
2,1.0,Bozeman,Chase,2022-08-02 00:00:00,Federal
3,2.0,Phillips,Drunell,2022-08-26 00:00:00,Missouri
4,3.0,Seeberg,James,2022-09-16 00:00:00,Wisconsin
5,4.0,Paradis,Mary,2022-09-16 00:00:00,Illinois
6,5.0,Arnold,Reece,2022-08-29 00:00:00,Alabama
7,6.0,Prince,Steven,2022-08-29 00:00:00,Louisiana
8,7.0,Turner,Charles,2022-09-20 00:00:00,Alabama
9,8.0,Buchanan,William,2022-09-20 00:00:00,Memphis
10,9.0,Usey,Todd,2022-09-21 00:00:00,Louisiana
11,10.0,McMillan,Malcolm,2022-09-20 00:00:00,Secret Service
12,11.0,Strauser,Charles,2022-09-27 00:00:00,Arkansas
13,12.0,Flowers,Eric,2022-11-22 00:00:00,West Virginia
14,13.0,Kidd,Dean,2022-11-30 00:00:00,Kansas
15,14.0,Barnham,Robert,2022-12-06 00:00:00,Tennessee
16,15.0,Hall,Levi,2022-12-06 00:00:00,Border Patrol
17,16.0,Peitz,Joshua,2022-12-07 00:00:00,Florida
18,17.0,Heath,Dixon,2023-02-06 00:00:00,Arkansas
19,18.0,Precious,Jim,2023-02-14 00:00:00,NM / Tribal
20,19.0,Gere,Robert,2023-02-16 00:00:00,Louisiana
21,20.0,Strange,Todd,2023-02-22 00:00:00,Tennessee
22,21.0,Gordon,Anthony,2023-03-22 00:00:00,Tennessee
23,22.0,Thompson,Billy,2023-03-22 00:00:00,Florida
24,23.0,Bramlett,Jonathan,2023-03-15 00:00:00,Tennessee
25,24.0,Frazier,John,2023-04-03 00:00:00,Tennessee
26,25.0,Sloan,Kevin,2023-04-13 00:00:00,Alabama
27,26.0,Lockard,Russell,2023-05-09 00:00:00,Tennessee
28,27.0,Himes,Joshua,2023-05-12 00:00:00,Alabama
29,NaN,NaN,NaN,NaN,NaN
30,28.0,Sullivan,Michael,Pending Test,Tennessee
31,29.0,Phillips,Chad,Pending Test,California
32,30.0,NaN,NaN,NaN,NaN
33,31.0,NaN,NaN,NaN,NaN
34,32.0,NaN,NaN,NaN,NaN
35,33.0,NaN,NaN,NaN,NaN
36,34.0,NaN,NaN,NaN,NaN
37,35.0,NaN,NaN,NaN,NaN
38,36.0,NaN,NaN,NaN,NaN
39,37.0,NaN,NaN,NaN,NaN
40,38.0,NaN,NaN,NaN,NaN
41,39.0,NaN,NaN,NaN,NaN
42,40.0,NaN,NaN,NaN,NaN
43,41.0,NaN,NaN,NaN,NaN
44,42.0,NaN,NaN,NaN,NaN
45,43.0,NaN,NaN,NaN,NaN
46,44.0,NaN,NaN,NaN,NaN
47,45.0,NaN,NaN,NaN,NaN
48,46.0,NaN,NaN,NaN,NaN
49,47.0,NaN,NaN,NaN,NaN
50,48.0,NaN,NaN,NaN,NaN
51,49.0,NaN,NaN,NaN,NaN
52,50.0,NaN,NaN,NaN,NaN

In [72]:
df = df.rename(columns={"Unnamed: 1": "first_name", "Unnamed: 2": "last_name", "Unnamed: 4": "location"})

In [73]:
df.location.unique()

array(['State POST  / Reciprocity', nan, 'Federal', 'Missouri',
       'Wisconsin', 'Illinois', 'Alabama', 'Louisiana', 'Memphis',
       'Secret Service', 'Arkansas', 'West Virginia', 'Kansas ',
       'Tennessee', 'Border Patrol', 'Florida', 'NM / Tribal',
       'California'], dtype=object)

In [74]:
df.loc[:, "location"] = df.location.str.lower()

df = df[df.location.isin(["louisiana"])]

def clean_names(df):
    df.loc[:, "first_name"] = df.first_name.str.lower().str.strip()
    df.loc[:, "last_name"] = df.last_name.str.lower().str.strip()
    return df 

df = df.pipe(clean_names)

In [75]:
df

    Unnamed: 0 first_name last_name           Unnamed: 3   location
7          6.0     prince    steven  2022-08-29 00:00:00  louisiana
10         9.0       usey      todd  2022-09-21 00:00:00  louisiana
20        19.0       gere    robert  2023-02-16 00:00:00  louisiana